@model Server;
<h2> Добавление сервера</h2>

<form asp-action="create" asp-controller="home">
	<p>
		<label asp-for="Name"> Название</label>
		<input type="text" asp-for="Name" />
	</p>

	<p>
		<label asp-for="Years"> Лет эксплуатации</label>
		<input type="number" asp-for="Years" />
	</p>

    <label>ОС:</label>
	<select name="OSId">
		@foreach (OS item in ViewBag.OSList)
		{
			<option value="@item.Id"> @item.Name </option>
		}
    </select>

	<label>Модель сервера:</label>
	<select name="ModelId">
		@foreach (ServerModel item in ViewBag.ServerModelsList)
		{
			<option value="@item.Id"> @item.Model </option>
		}
	</select>

	<p>
		<input type="submit" value="Отправить" />
	</p>
</form>